.banner {
  /* margin-top: 10vh; */
  height: 80vh;
  margin-bottom: -80px;
  color: white;
  object-fit: contain;
}
.banner_contents {
  margin-left: 30px;
  padding-top: 100px;
  /* height: 190px; */
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  background-color: rgba(51, 51, 51, 0.5);
  border: none;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
}
.play {
  color: #000;
  background-color: #fff;
}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.banner_fadeBottom {
  height: 40vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.91),
    #111
  );
}
